html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
}

body {
    background-image: url("https://zupimages.net/up/20/23/nd3e.png");
    background-size: cover;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Page 1 (main) */

.back-main {
    height: calc(100vh - 7.5rem);
    width: calc(100% - 7.5rem);
    padding: 3.75rem;
}

.back-main img {
    width: 100%;
    max-width: 1192px;
    max-height: 543px;
}

/* Page 2 (carac perso) */

.page2 {
    height: calc(100vh - 7.5rem);
    width: calc(100% - 7.5rem);
    padding: 3.75rem;
}

.page2-max {
    width: 100%;
    height: 100%;
    max-width: 950px;
}

.page2-perso {
    width: 60%;
    height: 100%;
}

.perso {
    width: 100%;
    max-width: 400px;
}

.hr {
    width: 45%;
    height: 1px;
    margin-bottom: 30px;
    background-color: white;
}

.stats {
    width: 100%;
    max-width: 300px;
}

.page2-button {
    width: 40%;
    height: 100%;
    flex-wrap: wrap;
}

.ligne1 {
    width: 92.423%;
    height: 20.331%;
    max-width: 500px;
    max-height: 160px;
    justify-content: space-evenly;
}

.ligne1 p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.page2-button img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}